body {
    font-family: 'Playfair Display', serif;
    margin: 0%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
}

span {
    color: blueviolet;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    color: chocolate;
}

p {
    text-align: justify;
}

.flexible {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

.intro {
    background-image: url(Images/top-banner.png);
    background-repeat: no repeat;
}

.dream {
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.education {
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.link-button {
    background-image: linear-gradient(rgb(62, 202, 62), rgb(53, 18, 18));
    padding: 10px 40px;
    border-radius: 5px;
    color: antiquewhite;
    font-weight: 700;
    text-decoration: none;
}

#foot {
    text-align: center;
    font-weight: bold;
}

.edu {
    box-shadow: 10px 10px 40px yellowgreen;
    width: 75%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
}

p {
    padding-right: 50px;
    text-align: justify;
}